*{
    margin: 0;
    padding: 0;

}
body{
    display:flex;
    flex-direction: column;
    align-items: left;
        justify-content: center;
background: linear-gradient(135deg,#4203a9,#90bafc);
color:#fff;

}
h1{
    padding: 200px;
    padding-bottom: 60px;;
}
.date{
    border: 0px solid black;
}

.dateandbutton{
border: 1px solid black;
border-radius: 4px;
 padding: 20px;
margin-left: 200px;
    background-color:rgb(178, 177, 177);
    display: inline-block;
}
.output{
 padding-left: 200px;
 padding-top: 5px;
}
